.gmailText {
	text-decoration: none;
	color: inherit;
}
.gmailText:hover {
	color: rgb(48, 47, 47);
}
.iconContainer {
	cursor: pointer;
}

.icon {
	border-radius: 100%;
	padding: 1rem;
	width: 4.5rem;
	height: 4.5rem;
}

.icon:hover,
.searchIcon:hover,
.acctImage:hover {
	background-color: rgba(48, 47, 47, 0.05);
}
.icon:active,
.searchIcon:active {
	background-color: rgba(48, 47, 47, 0.18);
}

.formContainer {
	position: relative;
}

.searchIcon {
	position: absolute;
	top: 10%;
	left: 0;
	width: 3.8rem;
	height: 3.8rem;
	padding: 0.7rem;
	cursor: pointer;
	border-radius: 100%;
}

.acctImage {
	display: block;
	padding: 0.5rem;
	object-fit: cover;
	border-radius: 100%;
}

.form-control {
	background-color: #f1f3f4;
	border: none;
	outline: none;
	transition: all 0.5s;
	border-radius: 1rem;
	font-size: inherit;
}

.form-control:focus {
	box-shadow: 0px 1px 2px rgba(48, 47, 47, 0.4);
}

.pages_container {
	padding-right: 8rem;
}

.nav-link {
	color: inherit;
	font-weight: 500;
}

.nav-link:hover {
	color: inherit;
}

.nav-pills {
	border-bottom: 1px solid rgba(48, 47, 47, 0.2);
}

.nav-pills-darkMode {
	border-bottom: 1px solid #fff !important;
}

.nav-link-more {
	border-top-right-radius: 5rem !important;
	border-bottom-right-radius: 5rem !important;
	font-size: 1.4rem !important;
}

.active {
	background-color: rgba(184, 214, 253, 0.5) !important;
	color: rgb(26, 115, 232) !important;
}

.nav-link-darkMode {
	color: #fff !important;
}

@media (max-width: 1199px) {
	.pages_container {
		padding-right: 0;
	}

	.nav-pills {
		padding-right: 2rem;
	}
	.nav-pills .active {
		background-color: transparent !important;
		border-bottom: 3px solid rgb(26, 115, 232);
		border-radius: 0 !important;
	}
}

@media (max-width: 767px) {
	.nav-pills .nav-link-more {
		font-size: 1.8rem !important;
	}
}

@media (max-width: 576px) {
	.heading-icon {
		padding: 0.5rem;
	}
	.heading-img {
		padding: 0.2rem;
	}
	.heading-icon,
	.heading-img {
		width: 3rem !important;
		height: 3rem !important;
	}
}

@media (max-width: 470px) {
	.form-control::placeholder {
		font-size: 1.4rem;
	}

	.form-control {
		padding: 0.9rem 0 0.9rem 3.5rem !important;
	}
}

@media (max-width: 376px) {
	.googleImg {
		width: 6rem !important;
	}

	.googleName {
		font-size: 1.8rem !important;
	}

	.form-control {
		padding: 0.9rem 0 0.9rem 3.2rem !important;
	}

	.form-control::placeholder {
		font-size: 1.1rem;
	}
}

@media (max-width: 300px) {
	.googleImg {
		width: 7.5rem !important;
	}

	.googleName {
		display: None !important;
	}
}

@media (max-width: 300px) {
	.googleImg {
		display: none;
	}
}
